@import "reset";
@import "tools/index"; /* variables, mixens, funstions and exturnal tools of this theme */
@import "base/index";
@import "layout/index";
@import "components/index";
@import "state/index";

body{/*
margin-top:0px;
margin:0 auto;*/
background-image:url(fon.webp);
background-repeat:no-repeat;
background-size: 100%;
/*background-attachment:fixed;
background-position:50% 0%;*/
}

.name p{
    width: 70%;
    margin: 0 0 auto;
    font: 500% sans-serif;
    color: #0FCCFF;
}
.center{
  transition-duration: 1s;
margin-top:7%;
}
#resultat_2 { 
 content: attr(data-title); 
}
#resultat_2:hover::after { 
 content: attr(data-title); 
  position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}
h3{
text-align:center;
}
#button1{
	transition-duration: 1s;
    margin-top: 30%;
    margin-left: -18%;
    border-radius: 50%;
    height: 21%;
    background-color: #57bf48;
    font: 132% sans-serif;
	color:white;
}
#button1 :hover{
transition-duration: 1s;
box-shadow: 0 0 20px rgba(0, 0, 0,1);
}
.column{

    background-color: rgba(255, 255, 255, 0.92);
    width: 132px;
    border-radius: 15px;
    margin-top: 5%;
	margin-left:20%;
    float: left;
	font-family:sans-serif;
}
.column:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0,1);
}
#produkts{
}
#produkts p{
margin:19%;
}
.spisok{
  margin: 5%;
}
#gramm{
    width: 67%;
    margin-left: 15%;
}
#man
{
margin:12%;
}
.woman
{
  width: 9%;
    background-color: cornflowerblue;
    float: left;
border-radius: 5%;
}
.calculator{
    background-color: rgba(255, 255, 255, 0.92);;
    width: 600px;
    height: 600px;
    margin-left: 39%;
    border-radius: 50%;
    float: inherit;
}
.ves{
    width: 125px;
    height: 125px;
    background-color: #1C93B2;
    border-radius: 50%;
    margin-left: 63px;
    margin-top: 33px;
  float: left;
}
.rost{
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: -12;
    margin-top: 27%;
  float: left;
}
.vosrast{
  width: 180px;
    height: 180px;
    background-color: #FF296F;
    border-radius: 50%;
    margin-left: -17%;
    margin-top: 60%;
  float: left;
}
.in-date{
        width: 60px;
    margin-left: 26%;
    margin-top: 41%;
}
.in-vosrast{
width: 92px;
    margin-left: 23%;
    margin-top: 45%;
}
.result{
  width: 300px;
  height: 300px;
  background-color: #0FCCFF;
  border-radius: 50%;
  margin-right: -9%;
  margin-top: 10%;
  float: right;
}
.out{
  margin-left: 16%;
  margin-top: 42%;
}
.out p{
    font: 170% sans-serif;
    color: #ffffff;
}
.out span{
  width: 70%;
    margin: 0 0 auto;
    color: aquamarine;
}
#resultat{
  font: 100%
}