@import "bootstrap.css";
body{/*
margin-top:0px;
margin:0 auto;*/
/*background-image:url(fon.webp);
background-repeat:no-repeat;
background-size: 100%;*/
}
.Fon img{
  width: 100%;
  
}
.name p{
    width: 70%;
    margin: 0 0 auto;
    font: 500% sans-serif;
    color: #0FCCFF;
}
.center{
  
}

h3{
text-align:center;
}